{% extends "base.html" %}
{% block content %}
<h1>Player Page</h1>
<h2>{{player.Name}}</h2>
<div class="container-fluid">
  <div class="row-fluid">  
    <div class="span2">
      <img src="picture/{{player.player_id}}" class="img-polaroid " width="150" height="150">
    </div>
    <div class="span2">
      <table class="table table-condensed">
		 <tr><th>Championships: {{player.Championships}}</th></tr>
		 <tr><th>MVP Titles: {{player.MVP_Titles}}</th></tr>
		 {% if player.Career_Points %}
		 <tr><th>Career Points: {{player.Career_Points}}</th></tr>
		 {% else %}
		 <tr><th>Career Points: 0 </th></tr>
		 {% endif %}
		 {% if player.Power_Ranking %}
		 <tr><th>Power Ranking: {{player.Power_Ranking}}</th></tr>
		 {% else %}
		 <tr><th>Power Ranking: 0</th></tr>
		 {% endif %}
		 {% if team %}
		 <tr><th>Current Team: {{team}}</th></tr>
		 {% else %}
		 <tr><th>Current Team: Free Agent</th></tr>
		 {% endif %}
		 {% if personal.quote %}
		 <tr><th>Quote: {{personal.quote}}</th></tr>
		 {% endif %}
		 {% if personal.fav_player %}
		 <tr><th>Favourite Player: {{personal.fav_player}}</th></tr>
		 {% endif %}		
		 {% if personal.years_played %}
		 <tr><th>Years Played: {{personal.years_played}}</th></tr>
		 {% endif %}		
	   </table>
    </div>
  </div>
  <br>
	  <table class="table table-bordered sortable">
	  <thead>
		  <tr>
		  	<th>
		  	Year
		  	</th>
		  	<th>
		  	Goals
		  	</th>
		  	<th>
		  	Assists
		  	</th>
		  	<th>
		  	Points
		  	</th>
		  	<th>
		  	PIM
		  	</th>
		  	<th>
	  		Points Per Game
	  		</th>
	  	 </tr>
	  </thead>
	  	<tbody>
  	{% for year in stats %}
  		<tr>
  			<td>
		  	{{year.YEAR}}
		  	</td>
		  	<td>
		  	{{year.Goals}}
		  	</td>
		  	<td>
		  	{{year.Assists}}
		  	</td>
		  	<td>
		  	{{year.Points}}
		  	</td>
		  	<td>
		  	{{year.PIM}}
		  	</td>
		  	<td>
	  		{{year.Points_per_game}}
	  		</td>
 		<tr> 
  	{% endfor %}
  	</tbody>
  </table>
</div>
{% endblock %}